/* Tab Button */
.toggle-button {
    -fx-max-width: INFINITY;
    -fx-pref-height: 50;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;

    -fx-font-size: 8;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-content-display: Top;
}

.toggle-button:selected:hover {
    -fx-border-width: 0;
}

.toggle-button:selected {
    -fx-background-color: #666666;
    -fx-text-fill: white;
}

.toggle-button:selected > Icon {
    -fx-background-color: cadetblue;
}

/* Tab Button hover */
.toggle-button:hover {
    -fx-border-width: 0 0 0 5;
    -fx-border-color: red;
}